<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Outline</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Outline</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Glow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Glow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Rainbow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Rainbow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Retro</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Retro</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Yellow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Black</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Outline</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Outline</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Glow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Glow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Pink</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Pink</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Rainbow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Rainbow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Retro</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Retro</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>White</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
			<key>Yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Yellow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<string>NO</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3110131406973822~9938707579</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>FugazOne-Regular</string>
		<string>Nunito-Black</string>
		<string>Nunito-BlackItalic</string>
		<string>Nunito-Bold</string>
		<string>Nunito-BoldItalic</string>
		<string>Nunito-ExtraBold</string>
		<string>Nunito-ExtraBoldItalic</string>
		<string>Nunito-ExtraLight</string>
		<string>Nunito-ExtraLightItalic</string>
		<string>Nunito-Italic</string>
		<string>Nunito-Light</string>
		<string>Nunito-LightItalic</string>
		<string>Nunito-Regular</string>
		<string>Nunito-SemiBold</string>
		<string>Nunito-SemiBoldItalic</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>gamekit</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
